<section class="mt-5" id="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/feloemgoetia" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/feloem" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/vladimirioan82" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:vladimir_3b@hotmail.com" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
      </hr>
    </div>
    <div class="row">
      <div class="col text-center text-white">
        <p class="h6">
          <a href="https://github.com/vladimirioan82"
              target="_blank">
            FGA Programming
          </a><br>
          <div class="mb-2">2016-2019 &copy All right Reversed.</div>
        </p>
      </div>
      </hr>
    </div>
  </div>
</section>