@import url('./fonts.css');
@import url('./sidemenu.css');
@import url('./prism.css');
@import url('./footer.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

a {
  cursor: pointer;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

blockquote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  background: #f9f9f9;
  border-left: 10px solid orange;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.7rem;
}
blockquote:before {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: orange;
  content: '"';
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote footer {
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
}

