<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Declarative vs Imperative Programming</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-info"
          onClick="Programming.declarative()">
        declarative procedure
      </button>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-info"
          onClick="Programming.imperative()">
        imperative procedure
      </button>
    </div>
    <div class="col">

    </div>
  </div>
</div>